@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Manrope', sans-serif;
}

html,
body {
	height: 100%;
}

main {
	max-width: 100vw;
	max-height: 100vh;
	width: 100%;
	height: 100%;
	background-color: rgb(44, 31, 92);
}
/* ESTAMOS EDITANDO O CABEÇALHO */
.head-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bg {
	width: 100%;
	height: 60%;
	z-index: 0;
}

.circle {
	max-width: 70vw;
	width: 100px;
	position: absolute;
	top: 7%;
}

.head-container > h2 {
	position: absolute;
	top: 10%;
	color: rgb(228, 226, 212);
	text-shadow: 2px 2px 5px #000000;
	font-size: 30px;
}
.head-container > p {
	position: absolute;
	top: 17%;
	color: rgb(216, 215, 208);
	text-shadow: 2px 2px 3px #000000;
	font-weight: 600;
	font-size: 15px;
}
/* TERMINOU DE EDITAR O CABEÇALHO */

/* COMECEI A EDITAR O CORPO */
.body-container {
	max-width: 70vw;
	width: 500px;
	height: 50%;
	position: absolute;
	top: 30%;
	background-color: rgb(231, 230, 230);
	box-shadow: 3px -2px 2px rgba(0, 0, 0, 0.699);
	border-radius: 3px;
}
#pages,
#pay-month {
	padding: 0 5px;
}
#pay-month,
#pay-month::before {
	font-size: 22px;
	font-weight: 800;
	content: '$';
}
.body-container-inside {
	width: 100%;
	/* height: 100%; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.child1-container,
.child2-container {
	width: 50%;
	padding-top: 10%;
	padding-left: 10%;
}
/* EDITANDO O RANGE */
.slideContainer {
	width: 90%;
	margin: 10% auto 0 auto;
	display: flex;
	position: relative;
}
.slider {
	/* vai controlar tudo dentro da range */
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	background: linear-gradient(
		90deg,
		rgb(183, 1, 255, 0.801) 60%,
		rgba(79, 0, 143, 0.801) 60%
	);
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.5s;
	box-shadow: 0px 0.5px 5px 3px purple;
	border-radius: 10px;
}
.slider:hover {
	opacity: 1;
}
/* SETANDO O PONTEIRO */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 40px;
	height: 40px;
	background-color: #8b298f;
	box-shadow: 0 0.5px 10px 7px purple;
	border-radius: 50%;
	cursor: pointer;
}
/* para rodar no mozila */
.slider::-moz-range-thumb{
	width: 40px;
	height: 40px;
	background-color: #8b298f;
	border-radius: 50%;
	cursor: pointer;
}
/* TERMINEI DE EDITAR RANGE */