@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Manrope', sans-serif;
}

html,
body {
	height: 100%;
}

main {
	max-width: 100vw;
	max-height: 100vh;
	width: 100%;
	height: 100%;
	background-color: rgb(53, 38, 109);
}
/* ESTAMOS EDITANDO O CABEÇALHO */
.head-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bg {
	width: 100%;
	height: 60%;
	z-index: 0;
}

.circle {
	max-width: 70vw;
	width: 100px;
	position: absolute;
	top: 7%;
}

.head-container > h2 {
	position: absolute;
	top: 10%;
	color: rgb(228, 226, 212);
	text-shadow: 2px 2px 5px #000000;
	font-size: 30px;
}
.head-container > p {
	position: absolute;
	top: 17%;
	color: rgb(216, 215, 208);
	text-shadow: 2px 2px 3px #000000;
	font-weight: 600;
	font-size: 15px;
}
/* TERMINOU DE EDITAR O CABEÇALHO */

/* COMECEI A EDITAR O CORPO */
.body-container {
	max-width: 70vw;
	width: 500px;
	height: 50%;
	position: absolute;
	top: 30%;
	background-color: rgb(231, 230, 230);
	box-shadow: 3px -2px 2px rgba(0, 0, 0, 0.699);
	border-radius: 3px;
}
#pages,
#pay-month {
	padding: 0 5px;
}
#pay-month,
#pay-month::before {
	font-size: 22px;
	font-weight: 800;
	content: '$';
}
.body-container-inside {
	width: 100%;
	/* height: 100%; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.child1-container,
.child2-container {
	width: 50%;
	padding-top: 10%;
	padding-left: 10%;
}
/* EDITANDO O RANGE */
.bar-value {
	max-width: 90%;
	margin: 10% auto 0 auto;
	display: flex;
	position: relative;
}
.bar-value .range {
	-webkit-appearance: none;
	width: 100%;
	height: 0.6em;
	outline: none;
	border-radius: 3px;
	background: #1f1f1f;
	box-shadow: 3px 3px 6px #000, inset 1px 1px 1px #909090;
}
/* PARA EDITAR O PONTEIRO DO RANGE*/
.bar-value .range::-webkit-slider-thumb {
	/* -webkit-appearance: none; */
	width: 1.7em;
	height: 1.7em;
	cursor: pointer;
	z-index: 3;
	position: relative;
	
}
/* aqui é o ponteiro */
.bar-value .slider-thumb {
	position: absolute;
	width: 1.7em;
	height: 1.7em;
	background-color: #090909;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	box-shadow: inset 0px 1px 2px #909090;
}
/* ESPAÇO DENTRO DO PONTEIRO */
.slider-thumb::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0.7em;
	height: 0.7em;
	background: #1d1d1d;
	border-radius: inherit;
	transition: 0.3s;
}
.bar-value:hover .slider-thumb::before{
	background: #4ff7db;
}
/* QUADRADO */
.bar-value .quadrado{
	position: absolute;
	width: 2.8em;
	height: 2em;
	top: -2em;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #090909;
	text-align: center;
	line-height: 35px;
	color: white;
	border-radius: 3px;
	box-shadow: 0px 3px 10px #1f1f1f, inset 0px 1px 2px #909090;
}
.bar-value .quadrado::before{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 10px solid #090909;
	bottom: -0.4em;
	left: 50%;
	transform: translateX(-50%);
}
.bar-value .progress{
	position: absolute;
	width: 50%;
	height: 0.4em;
	border-radius: 3px;
	background: linear-gradient(90deg, #335bf4 0%, #2ae9c9 100%);
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	pointer-events: none;
}
@media screen and (max-width: 700px){
	.neu-range-slider{
		width: 100%;
	}
}